body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(179, 6, 6, 0.1);
  width: 350px;
  text-align: center;
}

.card h1 {
  font-size: 2rem;   /* relative size */
  color: #000000;
}

.card h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #0077b6;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
  letter-spacing: 0.3px;
}
